
.heart i
{
    font-size: 1.5rem; 
    position: absolute;
       
}

.heart
{
    margin-right: 40px;
    position: relative;
    &__full {
        color: transparent;
        background-image: linear-gradient(to top,rgba(147,86,220,0.9),rgba(255,121,218,0.9));
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 0;
        transition: all 200ms ease-in-out;
    }
    &:hover .fas
    {
        opacity: 1;
        transform: scale(1.2);
        
    }
    &:hover .far
        {
            opacity: 0;
        }
}