.loader
{
    @include tablet {
        @include flexbox(row,center,baseline,nowrap);
        min-width: 320px;
    }
   position: fixed;
   background-color: white;
   height: 100vh;
   inset: 0;
   z-index: 1;
   animation: end-anim 1s 2S forwards ;
//    animation: fade-out 3s 1s forwards ;
   transform-origin: ease;
   &__hat {
       color:$bg-tertiary;
   }
   

}


.logo-load
{
    padding-top: 3%;
}
.toque
{
    @include flexbox(column,flex-start,center,nowrap);
   position: fixed;
}
.chef
{
    width: 64%;
    padding-top: 20%;
}

.ball
{
    background-color: $color-primary;
    height: 20PX;
    width: 20px;
    border-radius: 50%;
    position: relative;
    top: 372px;
    left: 86px;
    animation: bounce 0.9s infinite;

}
.ball2
{
    background-color: $color-secondary;
    height: 20PX;
    width: 20px;
    border-radius: 50%;
    position: relative;
    top:352px;
    left: 170px;
    animation: bounce2 0.9s infinite;

}
.ball3
{
    background-color: $color-tertiary;
    height: 20PX;
    width: 20px;
    border-radius: 50%;
    position: relative;
    top: 333px;
    left: 265px;
    animation: bounce 0.9s infinite;

}
.ball-anim
{
    width: 25px;
    height: 12px;
}
.shadow{
    background-color: rgba(8,8,8,0.05);
    height: 10px;
    width: 25px;
    border-radius: 50%;
    position: relative;
    top: 420px;
    left: 86px;
    z-index: -1;
    animation: shrink 0.9s infinite;
}
.shadow2 {
    background-color: rgba(8,8,8,0.05);
height: 10px;
width: 25px;
border-radius: 50%;
position: relative;
top: 413px;
left: 170px;
z-index: -1;
animation: shrink 0.9s infinite;
}
.shadow3 {
    background-color: rgba(8,8,8,0.05);
height: 10px;
width: 25px;
border-radius: 50%;
position: relative;
top: 398px;
left: 261px;
z-index: -1;
animation: shrink 0.9s infinite;
}
@include tablet {
    .ball{
    top:494px;
    left: -88px;
    }
    .ball2
    {
     top:482px;
     left: -5px;   
    }
    .ball3
    {
    top:469px;
    left: 82px;
    }
    .shadow
    {
        top: 531px;
        left:-89px;
    }
    .shadow2
    {
        top: 521px;
        left:-3px;
    }
    .shadow3
    {
        top: 510px;
        left:81px;
    }
}