.loader
{
    
   position: fixed;
   background-color: white;
   height: 100vh;
   inset: 0;
   z-index: 1;
   animation: end-anim 1s 2S forwards;
   transform-origin: ease;
   &__hat {
       color:$bg-tertiary;
   }
   

}
.logo-load
{
    padding: 0% 30% 0% 23%;
}

.chef
{
    width: 64%;
    padding: 23% 30% 0% 18%;
}

.ball
{
    background-color: $color-primary;
    height: 20PX;
    width: 20px;
    border-radius: 50%;
    position: relative;
    top:5px;
    left: 86px;
    animation: bounce 0.9s infinite;

}
.ball2
{
    background-color: $color-secondary;
    height: 20PX;
    width: 20px;
    border-radius: 50%;
    position: relative;
    top:-15px;
    left: 170px;
    animation: bounce2 0.9s infinite;

}
.ball3
{
    background-color: $color-tertiary;
    height: 20PX;
    width: 20px;
    border-radius: 50%;
    position: relative;
    top: -36px;
    left: 252px;
    animation: bounce 0.9s infinite;

}
.ball-anim
{
    width: 25px;
    height: 12px;
}
.shadow{
    background-color: rgba(8,8,8,0.05);
    height: 10px;
    width: 25px;
    border-radius: 50%;
    position: relative;
    top: 58px;
    left: 80px;
    z-index: -1;
    animation: shrink 0.9s infinite;
}
.shadow2 {
    background-color: rgba(8,8,8,0.05);
height: 10px;
width: 25px;
border-radius: 50%;
position: relative;
top: 36px;
left: 168px;
z-index: -1;
animation: shrink 0.9s infinite;
}
.shadow3 {
    background-color: rgba(8,8,8,0.05);
height: 10px;
width: 25px;
border-radius: 50%;
position: relative;
top: 13px;
left: 245px;
z-index: -1;
animation: shrink 0.9s infinite;
}
