// footer
footer
{
    background-color: $bg-tertiary;
    padding: 25px 25px 40px;
}

.footer-style
{
    @include flexbox(column,left,baseline,unset);
    @include tablet {
        @include flexbox(row,space-between,baseline,unset);
    }
    .fas {
        margin-right: 10px;
    }
    padding: 0px;
        &__li {
            color: white;
            @include flexbox(row,unset,unset,unset);
            padding-bottom: 10px;
           
    }
}

.footer-link
{
    text-decoration: none;
}